
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    background-color: #003366;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background: white;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.avatar {
    width: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
}

a {
    color: #0056b3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #003366;
    color: white;
    margin-top: 40px;
}
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
}
a {
    text-decoration: none !important;
}
a:hover{
    text-decoration: none !important;

}